body{
    background-image: url(grass_green.jpg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;

}

h1 {
    color: goldenrod;
    font-size: 100px;
}

#message-el{
    font-style: italic;
    
}
button{
    color: #016f32;
    width: 200px;
    height: 50px;
    background: goldenrod;
    font-size: 25px;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}
button:hover{
    background-color: darkgoldenrod;
}
