*{
    background-color: rgb(2, 2, 52);
}
.container h1{
    color: white;
    font-size: 50px;
    margin: none;
}
.container h2{
    color: rgb(97, 205, 97);
    font-size: 50px;
    position: relative;
    bottom: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container h3{
    color: rgb(206, 201, 201);
    position: relative;
    bottom: 80px;
    font-size: 20px;
}
.container button{
    background-color: rgb(69, 155, 73);
    font-size: 15px;
    width: 150px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 3px;
    position: relative;
    bottom: 40px;
    cursor: pointer;
}
input{
    width:200px;
    height: 30px;
    float: left;
    margin: 15px;
    margin-left: 0px;
    background-color: rgb(76, 76, 109);
    border: none;
    color: rgb(97, 205, 97);
    font-size: 20px;
    
}